extends ../../template/_head.pug
block content
    header.page-header.background-image-page-header
        .container
            h1.page-header-title Planta de Residuos
        .background-layer-header
    section.section-pages
        .container
            .row
                .col.col-lg-6.align-self-center
                    .content-text
                        p.paragraph.m-0 Los proyectos de generación de energía son una de esas formas que nos facilitan el progreso continuo, para ello ofrecemos consultoría e ingeniería en proyectos de generación de:
                        ul.list
                            li Centrales Hidroeléctricas.
                            li Centrales Eólicas.
                            li Centrales Fotovoltaicas.
                            li Generación a pequeña escala.
                .col.col-lg-6.align-self-center
                    .container-image.img-thumbnail
                        img(src= url+"img/planta_residuos_img01.jpg")