-
    var url = "http://grupoechegaray.com.devel/";
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Grupo Echegaray
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
        link(rel="stylesheet", href= url+"css/app.css")
        link(rel="stylesheet", href= url+"css/main.css")
        link(rel="stylesheet", href= url+"css/pages.css")
        link(rel="stylesheet", href= url+"lib/lightslider/css/lightslider.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.7.0/css/lightgallery.min.css")
    body
        // insertando la barra de navegación
        .content-buttom-scroll
            button#btn-scroll-top.scroll-top
                i.fas.fa-angle-up
        include _nav-menu.pug
        block content
        footer#contacto
            .pt-2.p-0.p-lg-5.bg-footer-contact.position-relative
                .capa-contact
                .container
                    .row
                        .col-12.col-lg-4
                            .title-footer
                                h2.title Contactos
                            .content-list-contact
                                ul.list-contact
                                    li.contac
                                        span.icon
                                            i.fas.fa-search
                                        p.text Jr. Teniente Diego Ferré Nº 220 Urb. Cooviecma G-3, Santiago de Surco, Lima - Perú
                                    li.contac
                                        span.icon
                                            i.fas.fa-envelope
                                        p.text gerencia@grupoechegaray.com
                                    li.contac
                                        span.icon
                                            i.fas.fa-server
                                        p.text grupoechegaray@gmail.com
                                    li.contac
                                        span.icon
                                            i.fas.fa-phone-alt
                                        p.text 931 071558 / 958 978669
                                .content-social-networks
                                    ul.list
                                        li.item
                                            a(href="https://www.facebook.com/grupoechegaray1", target="_blank").link.color-fb.color-fb-footer
                                                i.fab.fa-facebook-square
                                        li.item
                                            a(href="https://www.linkedin.com/company/grupo-echegaray", target="_blank").link.color-in.color-in-footer
                                                i.fab.fa-linkedin
                                        li.item
                                            a(href="https://www.youtube.com/channel/UCQX3vOu4c7Y3BBufm4eGJTA?view_as=subscriber", target="_blank").link.color-yt.color-yt-footer
                                                i.fab.fa-youtube-square
                        .col-12.col-md-6.col-lg-4
                            .title-footer
                                h2.title Contactos
                            .content-list-links
                                ul.list-links
                                    li.link
                                        a(href="#")
                                            i.fas.fa-link.pr-2
                                            | Energía
                                        
                                    li.link
                                        a(href="#")
                                            i.fas.fa-link.pr-2
                                            | Saneamiento
                                    li.link
                                        a(href="#")
                                            i.fas.fa-link.pr-2
                                            | Edificaciones
                                    li.link
                                        a(href="#")
                                            i.fas.fa-link.pr-2
                                            | Medio Ambiente
                        .col-12.col-md-6.col-lg-4
                            .content-formulario
                                form#form_contact
                                    .container
                                        .row
                                            .col-12.mb-2
                                                input(type="text", name="nombre", placeholder="Nombre", required).form-control
                                            .col-12.mb-2
                                                input(type="email", name="email", placeholder="Email", required).form-control
                                            .col-12.mb-2
                                                input(type="telf", name="telefono", placeholder="Telefono", required).form-control
                                            .col-12.mb-2
                                                textarea(name="mensaje", cols="30", rows="10", required).form-control
                                            .col-12.mb-2
                                                button#send-contact.btn.btn-primary.btn-block(type='button') Contactar
            .container
                p.content-copy
                    | Copyright &copy; 2020 Grupo Echegaray,
                    i.fa.fa-value(aria-hidden='true') &nbsp;
                    a(href='https://gcarloweb.com').text-white Desarrollado por GcarloWeb.com
        script(src= url+"lib/jquery-3.5.1.min.js")
        script(src= url+"lib/bootstrap/js/bootstrap.min.js")
        script(src= url+"lib/lightslider/js/lightslider.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.7.0/js/lightgallery.min.js")
        script(src= url+"js/main.js")
