nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href= url).link-navbar-menu
        img(src= url+"img/logo_grupo_echegaray.png", alt="alt").logo-nav-bar
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse.flex-column
        .content-social-networks
            ul.list
                li.item
                    a.link.color-fb
                        i.fab.fa-facebook-square
                li.item
                    a.link.color-in
                        i.fab.fa-linkedin
                li.item
                    a.link.color-yt
                        i.fab.fa-youtube-square
        ul.navbar-nav
            li.nav-item.dropdown
                a#menu-inicio.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | Inicio
                ul.dropdown-menu(aria-labelledby='menu-inicio')
                    li
                        a.dropdown-item(href= url+'#nosotros') Nosotros
                    li
                        a.dropdown-item(href= url+'#mision_vision_valores') Misión, Visión y Valores
            li.nav-item.dropdown
                a#menu-consultoria.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | Consultoría
                ul.dropdown-menu(aria-labelledby='menu-consultoria')
                    //- li
                    //-     a.dropdown-item(href='#') Proyecto
                    li.dropdown-submenu
                        a.dropdown-item.dropdown-toggle(href='#') Energía
                        ul.dropdown-menu
                            li
                                a.dropdown-item(href= url+'consultoria/energia/generacion.html') Generación
                            li
                                a.dropdown-item(href= url+'consultoria/energia/transmision.html') Transmisión
                            li
                                a.dropdown-item(href= url+'consultoria/energia/distribucion.html') Distribución
                            li
                                a.dropdown-item(href= url+'consultoria/energia/instalacion_electrica.html') Instalaciones Eléctricas
                    li.dropdown-submenu
                        a.dropdown-item.dropdown-toggle(href='#') Saneamiento
                        ul.dropdown-menu
                            li
                                a.dropdown-item(href= url+'consultoria/saneamiento/agua_potable.html') Agua Potable
                            li
                                a.dropdown-item(href= url+'consultoria/saneamiento/alcantarillado.html') Alcantarillado
                            li
                                a.dropdown-item(href= url+'consultoria/saneamiento/drenaje_pluviar.html') Drenaje Pluviar
                            li
                                a.dropdown-item(href= url+'consultoria/saneamiento/planta_tratamiento.html') Planta de Tratamiento
                            li
                                a.dropdown-item(href= url+'consultoria/saneamiento/instalaciones_sanitarias.html') Instalaciones Sanitarias
                    li.dropdown-submenu
                        a.dropdown-item.dropdown-toggle(href='#') Transporte
                        ul.dropdown-menu
                            li
                                a.dropdown-item(href= url+'consultoria/transporte/carreteras.html') Carreteras
                            li
                                a.dropdown-item(href= url+'consultoria/transporte/pista_vederas.html') Pistas y Vederas
                            li
                                a.dropdown-item(href= url+'consultoria/transporte/puentes_tuneles.html') Puentes y Tuneles
                            li
                                a.dropdown-item(href= url+'consultoria/transporte/escaleras_taludes.html') Escaleras y Taludes
                    li.dropdown-submenu
                        a.dropdown-item.dropdown-toggle(href='#') Edificaciones
                        ul.dropdown-menu
                            li
                                a.dropdown-item(href= url+'consultoria/edificacion/edificios.html') Edificios
                            li
                                a.dropdown-item(href= url+'consultoria/edificacion/colegios.html') Colegios
                            li
                                a.dropdown-item(href= url+'consultoria/edificacion/hospitales.html') Hospitales
                            li
                                a.dropdown-item(href= url+'consultoria/edificacion/universidades.html') Universidades
                    li.dropdown-submenu
                        a.dropdown-item.dropdown-toggle(href='#') Medio Ambiente
                        ul.dropdown-menu
                            li
                                a.dropdown-item(href= url+'consultoria/medio_ambiente/manejo_ambiental.html') Manejo Ambiental
                            li
                                a.dropdown-item(href= url+'consultoria/medio_ambiente/planta_residuos.html') Planta de Residuos
                            li
                                a.dropdown-item(href= url+'consultoria/medio_ambiente/estudios_ambientales.html') Estudios Ambientales
            li.nav-item
                a.nav-link(href= url+'#proyecto') Proyecto
            li.nav-item
                a.nav-link(href= url+'#servicio') Servicio
            li.nav-item
                a.nav-link(href= url+'#cliente') Cliente
            li.nav-item
                a.nav-link(href= url+'#contacto') Contacto