// Logo Navbar
.link-navbar-menu {
  width: 13.17%;
  @media all and (max-width: 576px){
    width: 32.17%;
  }
  .logo-nav-bar {
    width: 100%;
  }
}

// Icono Redes Sociales
.content-social-networks {
  margin-bottom: 0;
  ul.list {
    display: flex;
    li.item {
      margin: 0 5px;
      a.link {
        font-size: 30px;
        cursor: pointer;
        transition: all .3s ease-in-out;
      }
      .color-fb {
        color: #3b5998;
      }
      .color-in {
        color: #0077b5;
      }
      .color-yt {
        color: #cd201f;
      }
      .color-fb-footer,
      .color-in-footer,
      .color-yt-footer{
        color: #fff;
      }
    }
    li.item:hover .color-fb,
    li.item:hover .color-in,
    li.item:hover .color-yt{
      color: #607d8b;
    }
    li.item:hover .color-fb-footer{
      color: #3b5998;
    }
    li.item:hover .color-in-footer{
      color: #0077b5;
    }
    li.item:hover .color-yt-footer{
      color: #cd201f;
    }
  }
}

// Navbar Menu
.dropdown-submenu {
  position: relative;
  a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: 0.8em;
  }
  .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
}
