extends ../../template/_head.pug
block content
    header.page-header.background-image-page-header
        .container
            h1.page-header-title Distribución
        .background-layer-header
    section.section-pages
        .container
            .row
                .col-12.col-lg-6.align-self-center
                    .container-image.img-thumbnail.mb-2.mb-lg-0
                        img(src= url+"img/distribucion_img01.jpg")
                .col-12.col-lg-6.align-self-center
                    .content-text
                        p.paragraph Sabemos que la electricidad es un servicio básico para una mejor calidad de vida, para ello ofrecemos la consultoría e ingeniería en:
                        p.paragraph
                            | Redes Eléctricas de Media y Baja Tensión aéreas y subterráneas.
                            <br> Sistemas Eléctricos Rurales.
                        p.paragraph.m-0 Las actividades desarrolladas incluyen los siguientes alcances:
                        ul.list
                            li Selección de ruta.
                            li Estudios catastrales.
                            li Cálculos y determinación de equipamiento.
                            li Levantamientos, censo de propietarios y cálculos de topografía.
                            li Estudios de geología y suelos, determinación de resistividad eléctrica.
                            li Trazado y plantillado.
                            li Selección y localización de estructuras.
                            li Diseño de fundaciones y obras de protección.
                            li Especificaciones para suministro y montaje.