extends ../../template/_head.pug
block content
    header.page-header.background-image-page-header
        .container
            h1.page-header-title Instalaciones Eléctricas
        .background-layer-header
    section.section-pages
        .container
            .row
                .col-12.col-lg-6.align-self-center
                    .content-text
                        p.paragraph Sabemos que la energía eléctrica tiene que llegar a todos los lugares que requieren nuestros clientes, para ello ofrecemos la consultoría e ingeniería tales como:
                        p.paragraph
                            | Líneas de Transmisión aéreas y subterráneas.
                            <br> Subestaciones de Potencia.
                        p.paragraph.m-0 Las actividades desarrolladas incluyen los siguientes alcances:
                        p.paragraph.m Selección de ruta.
                .col-12.col-lg-6.align-self-center
                    .container-image.img-thumbnail.mb-2.mb-lg-0
                        img(src= url+"img/instalaciones_electricas_img01.png")