extends ../../template/_head.pug
block content
    header.page-header.background-image-page-header
        .container
            h1.page-header-title Transmisión
        .background-layer-header
    section.section-pages
        .container
            .row
                .col.col-lg-6.align-self-center
                    .content-text
                        p.paragraph Sabemos que la energía eléctrica tiene que llegar a todos los lugares que requieren nuestros clientes, para ello ofrecemos la consultoría e ingeniería tales como:
                        p.paragraph Líneas de Transmisión aéreas y subterráneas. Subestaciones de Potencia.
                        p.paragraph.m-0 Las actividades desarrolladas incluyen los siguientes alcances:
                        ul.list
                            li Selección de ruta.
                            li Estudios catastrales.
                            li Cálculos y determinación de equipamiento.
                            li Levantamientos, censo de propietarios y cálculos de topografía.
                            li Estudios de geología y suelos, determinación de resistividad eléctrica.
                            li Trazado y plantillado.
                            li Selección y localización de estructuras.
                            li Diseño de fundaciones y obras de protección.
                            li Especificaciones para suministro y montaje.
                .col.col-lg-6.align-self-center
                    .container-image.img-thumbnail
                        img(src= url+"img/transmision_img01.jpg")