@import "template/nav-menu";

.content-buttom-scroll{
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 99;
  button.scroll-top{
    padding: .2rem .5rem;
    margin: 0;
    background-color: #0000008f;
    border: 0;
    transition: all .3s ease-in-out;
    i{
      color: #fff;
      font-size: 2rem;
    }
  }
  button.scroll-top:hover{
    background-color: #333;
  }
}

// style header
header.header-main {
  height: calc(100% - 101px);
}
// style banner image
.carousel {
  .carousel-inner {
    .carousel-item {
      img {
        height: calc(100vh - 101px);
      }
    }
  }
}

.content-header-title {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  .container{
    height: 100%;
    .header-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      height: 100%;
      h3 {
        color: #fff;
        font-size: 4rem;
        line-height: 1.5em;
        letter-spacing: 1.2px;
        text-shadow: 0px 0px 40px #000000;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.bg-section-green {
  background-color: #69b13c;
}

h2.section-title {
  font-size: 35px;
  color: #69b13c;
  font-family: "Montserrat Alternates", Sans-serif;
  font-weight: 900;
  line-height: 1.2em;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.section-main {
  position: relative;
  padding: 100px 25px;
}

.container-heading-title {
  h2.section-title {
  }
}

.container-content {
  p.content-text {
    margin: 0 0 20px;
  }
  p.content-text,
  li {
    font-family: "Roboto", sans-serif;
    color: #303030;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
  }
  li {
    color: #fff;
  }
}
.container-image {
  .section-image {
    img {
      border-radius: 40px;
    }
  }
}

//style consutoria
.container-title-image {
  position: relative;
  overflow: hidden;
  .container-image {
    //   width: 265px;
    height: 230px;
    img {
      width: 100%;
      height: 100%;
      transform: scale(1);
      transition: all 0.3s ease-in-out;
    }
  }

  .container-text {
    position: absolute;
    top: calc(100% / 2.5);
    left: 0;
    right: 0;
    background-color: #0000008e;
    p {
      text-align: center;
      color: #fff;
      padding: 0.5rem;
      font-size: 1.2rem;
    }
  }
}

.container-title-image:hover {
  .container-image {
    img {
      transform: scale(1.1);
    }
  }
}

// Style Proyectos
.container-proyecto {
  position: relative;
  height: 270px;
  overflow: hidden;
  .img-proyecto {
    height: 100%;
    img {
      height: 100%;
    }
  }
  .text-proyecto {
    background-color: #0000008e;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0;
    transition: all 0.3s ease-in-out;
    p {
      text-align: center;
      color: #fff;
      padding: 1rem;
    }
  }
}
.container-proyecto:hover {
  .text-proyecto {
    height: 60%;
  }
}

// Style cliente
.container-cliente {
  height: 100%;
  display: flex;
  align-items: center;
  .img-cliente {
    img {
      height: 100%;
    }
  }
}

// Style Banner Video
.content-section-banner-video {
  display: flex;
  min-height: 96vh;
  .container {
    align-self: center;
  }
}
.bg-banner-video {
  background-image: url("../img/banner_video.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .container {
    position: relative;
    z-index: 2;
  }
}
.layer-banner-video {
  position: absolute;
  background-color: #0000005c;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
h2.content-text-banner-video {
  color: #ffffff;
  font-size: 51px;
  font-weight: 900;
  line-height: 1.2em;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  font-family: "Roboto", Sans-serif;
}
.content-banner-video {
  iframe {
    width: 100%;
    height: 330px;
  }
}

// Styles Servicios
.card-servicios {
  min-height: 100%;
  img.card-img-top {
    height: 232px;
  }
}
