extends ../../template/_head.pug
block content
    header.page-header.background-image-page-header
        .container
            h1.page-header-title Pistas y Vederas
        .background-layer-header
    section.section-pages
        .container
            .row
                .col.col-lg-6.align-self-center
                    .content-text
                        p.paragraph El progreso de un país implica directamente una infraestructura multimodal que optimice el transporte de bienes y suministros.
                        p.paragraph Tenemos la experiencia en el diseño y supervisión de proyectos de infraestructura de transporte en el sector urbano e interconexión de ciudades.
                        p.paragraph Nuestros servicios comprenden desde la identificación y realización de los estudios de factibilidad, la estructuración financiera, así como el desarrollo de la ingeniería básica, conceptual y de detalle, hasta la gerencia durante la ejecución.
                .col.col-lg-6.align-self-center
                    .container-image.img-thumbnail
                        img(src= url+"img/pista_vederas_img01.jpg")